
/codeor/Worker/target
/codeor/Worker/project/target
/codeor/Worker/project/project/target
/codeor/Worker/emuObject/target
/codeor/Worker/.idea/libraries
/codeor/Worker/.idea
/codeor/Spark/.idea
/codeor/scalatest/Test/target
/codeor/Akka_a/.idea
/codeor/Akka_a/Akka_Dome/.idea
/codeor/Akka_a/project/project/target
/codeor/Akka_a/project/target
/codeor/Akka_a/target
/codeor/Akka_s/.idea
/codeor/Akka_s/project/project/target
/codeor/Akka_s/project/target
/codeor/Akka_s/target
/codeor/Cshps/AppLengLib/bin/Debug
/codeor/Cshps/AppLengLib/obj/Debug
/codeor/Cshps/Infas/Iar/obj/Debug
/codeor/Cshps/Res/AppLeng/.vs
/codeor/Cshps/Res/AppLeng/bin/Debug
/codeor/Cshps/Res/AppLeng/obj
/codeor/Cshps/WPFtest/Test/.vs
/codeor/Cshps/WPFtest/Test/obj
/codeor/eum_Object/.idea
/codeor/eum_Object/project/project/target
/codeor/eum_Object/project
/codeor/eum_Object/target
/codeor/HBase_/.idea
/codeor/Kafka/.idea
/codeor/Master/.idea
/codeor/Master/emuObject/target
/codeor/Master/project
/codeor/Master/target
/codeor/scalatest/Test/.idea
/codeor/scalatest/Test/project
/codeor/Cshps/AppLengLib/obj
/codeor/Cshps/Infas/Iar/.vs
/codeor/Cshps/Infas
codeor/Terraria_Mod_Language/
codeor/AcortDome/
/codeor/Cshps/Avalonia/AvaloniaMvvm/bin
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
/codeor/Cshps/Avalonia/AvaloniaMvvm/bin
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
*.targets
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa.Library/bin
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa/obj
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa.Library/bin
