**/.vs
**/obj
**/bin
**/.idea
**/target
/codeor/eum_Object/project
/codeor/Master/project
/codeor/scalatest/Test/project
/codeor/Cshps/Infas
codeor/Terraria_Mod_Language/
codeor/AcortDome/
*.targets
*.dll
*.json
*.vsidx
*.bin
*.v2
/codeor/lixian/metastore_db
/codeor/Cshps/HTML2JPG/Properties
/codeor/lixian/out
/codeor/lixian/src/out
*.exe
