
/codeor/Worker/target
/codeor/Worker/project/target
/codeor/Worker/project/project/target
/codeor/Worker/emuObject/target
/codeor/Worker/.idea/libraries
/codeor/Worker/.idea
/codeor/Spark/.idea
/codeor/scalatest/Test/target
/codeor/Akka_a/.idea
/codeor/Akka_a/Akka_Dome/.idea
/codeor/Akka_a/project/project/target
/codeor/Akka_a/project/target
/codeor/Akka_a/target
/codeor/Akka_s/.idea
/codeor/Akka_s/project/project/target
/codeor/Akka_s/project/target
/codeor/Akka_s/target
/codeor/Cshps/AppLengLib/bin/Debug
/codeor/Cshps/AppLengLib/obj/Debug
/codeor/Cshps/Infas/Iar/obj/Debug
/codeor/Cshps/Res/AppLeng/.vs
/codeor/Cshps/Res/AppLeng/bin/Debug
/codeor/Cshps/Res/AppLeng/obj
/codeor/Cshps/WPFtest/Test/.vs
/codeor/Cshps/WPFtest/Test/obj
/codeor/eum_Object/.idea
/codeor/eum_Object/project/project/target
/codeor/eum_Object/project
/codeor/eum_Object/target
/codeor/HBase_/.idea
/codeor/Kafka/.idea
/codeor/Master/.idea
/codeor/Master/emuObject/target
/codeor/Master/project
/codeor/Master/target
/codeor/scalatest/Test/.idea
/codeor/scalatest/Test/project
/codeor/Cshps/AppLengLib/obj
/codeor/Cshps/Infas/Iar/.vs
/codeor/Cshps/Infas
codeor/Terraria_Mod_Language/
codeor/AcortDome/
/codeor/Cshps/Avalonia/AvaloniaMvvm/bin
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
/codeor/Cshps/Avalonia/AvaloniaMvvm/bin
/codeor/Cshps/Avalonia/AvaloniaMvvm/obj
*.targets
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa.Library/bin
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa/obj
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa.Library/bin
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa/obj
*.dll
*.json
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa/obj
*.vsidx
*.bin
*.v2
/codeor/Cshps/Cecil/Demo02/SerblDll/bin
/codeor/Cshps/yzk/LINQ/linq/obj
/codeor/Cshps/Cecil/Run/run/obj
/codeor/Cshps/yzk/LINQ/ioc/obj
/codeor/Cshps/yzk/LINQ/linq/bin
/codeor/Cshps/Cecil/Run/DLL/obj
/codeor/Cshps/Cecil/Demo02/Demo02/obj
/codeor/Cshps/Cecil/Demo02/Demo02/bin
/codeor/Cshps/Cecil/Demo01/CecilDemo/obj
/codeor/Cshps/Cecil/Demo02/Demo02/obj
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa/bin
/codeor/Cshps/Avalonia/DPA/Dpa/Dpa.Library/obj
/codeor/Cshps/Hjson/HjsonDemo/bin
/codeor/lixian/metastore_db
/codeor/Cshps/StudentAll/StudentAll/bin
/codeor/Cshps/StudentAll/StudentAll/obj
/codeor/Cshps/.NETASP/Student/NETASPSTUDENT/NETASPSTUDENT/bin
/codeor/Cshps/.NETASP/Student/NETASPSTUDENT/NETASPSTUDENT/obj
/codeor/Cshps/.NETASP/Student/NETASPSTUDENT/.vs
/codeor/Cshps/MyDI/MyDI/.vs
/codeor/Cshps/Hjson/HjsonDemo/obj
/codeor/Cshps/TypeMap/obj
/codeor/Cshps/TypeMap/bin
/codeor/Cshps/TypeMap/.vs
/codeor/Cshps/MyDI/MyDI/MyDI/obj
/codeor/Cshps/HTML2JPG/bin
/codeor/Cshps/HTML2JPG/obj
/codeor/Cshps/HTML2JPG/Properties
/codeor/Cshps/HTML2JPG/.vs
